/* Envelope Colors */
:root {
    --color-env: #3d0305;
    --color-env2: #360229;
    --color-flap: #660024;
    --color-bg: #edc4de;
    --color-heart: #8d1e1e;
  
    --env-border-radius: 6px;
    --env-width: 280px;
    --env-height: 180px;
    --heart-width: 50px;
  }
  
  body {
    background-color: var(--color-bg);
  }
  
  /* envelope wrapper */
  .envlope-wrapper {
    height: calc(var(--env-height) + 200px);
  }
  
  /* envelope box */
  #envelope {
    position: relative;
    width: var(--env-width);
    height: var(--env-height);
    border-bottom-left-radius: var(--env-border-radius);
    border-bottom-right-radius: var(--env-border-radius);
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    background-color: var(--color-flap);
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
  }
  
  .front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
  }
  
  .flap {
    border-left: calc(var(--env-width) / 2) solid transparent;
    border-right: calc(var(--env-width) / 2) solid transparent;
    border-bottom: calc((var(--env-height) / 2) - 8px) solid transparent;
    border-top: calc((var(--env-height) / 2) + 8px) solid var(--color-flap);
    transform-origin: top;
    pointer-events: none;
  }
  
  /* make pocket pink */
  .pocket {
    border-left: calc(var(--env-width) / 2) solid pink;
    border-right: calc(var(--env-width) / 2) solid pink;
    border-bottom: calc(var(--env-height) / 2) solid pink;
    border-top: calc(var(--env-height) / 2) solid transparent;
    border-bottom-left-radius: var(--env-border-radius);
    border-bottom-right-radius: var(--env-border-radius);
  }
  
  .letter {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 5%;
    border-radius: var(--env-border-radius);
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
  }
  
  .letter:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:
      linear-gradient(180deg,
      rgba(255,255,255,0.00) 25%,
      rgba(215,227,239,0.70) 55%,
      rgba(215,227,239,1.00) 100%);
  }
  
  /* message inside letter */
  .letter .message {
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #d00000;
    z-index: 3;
  }
  
  .words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    background-color: #EEEFF0;
  }
  .words.line1 { top: 15%; width: 20%; height: 7%; }
  .words.line2 { top: 30%; }
  .words.line3 { top: 50%; }
  .words.line4 { top: 70%; }
  
  /* animations open/close */
  .open .flap {
    transform: rotateX(180deg);
    transition: transform .4s ease, z-index .6s;
    z-index: 1;
  }
  .close .flap {
    transform: rotateX(0deg);
    transition: transform .4s .6s ease, z-index 1s;
    z-index: 5;
  }
  .close .letter {
    transform: translateY(0px);
    transition: transform .4s ease, z-index 1s;
    z-index: 1;
  }
  .open .letter {
    transform: translateY(calc(-1 * var(--env-height) / 3));
    transition: transform .4s .6s ease, z-index .6s;
    z-index: 2;
  }
  
  /* hearts */
  .hearts {
    position: absolute;
    top: calc(var(--env-height) / 2);
    left: 0;
    right: 0;
    z-index: 2;
  }
  .heart {
    position: absolute;
    bottom: 0;
    right: 10%;
    pointer-events: none;
  }
  
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: var(--heart-width);
    top: 0;
    width: var(--heart-width);
    height: calc(var(--heart-width) * 1.6);
    background: var(--color-heart);
    border-radius: var(--heart-width) var(--heart-width) 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    pointer-events: none;
  }
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  .close .heart {
    opacity: 0;
    animation: none;
  }
  .a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
  }
  .a2 {
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
  }
  .a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
  }
  
  @keyframes slideUp {
    0% { top: 0; }
    100% { top: -600px; }
  }
  @keyframes sideSway {
    0% { margin-left: 0px; }
    100% { margin-left: 50px; }
  }
  
  /* buttons */
  .reset {
    text-align: center;
  }
  .reset button {
    font-weight: 800;
    transition: all .1s linear;
    background-color: transparent;
    border: solid 2px var(--color-env);
    border-radius: 4px;
    color: var(--color-env);
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    min-width: 120px;
    cursor: pointer;
  }
  .reset button:hover {
    background-color: var(--color-env);
    color: #fff;
  }
  